@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body>div {
    grid-template-columns: 16rem 1fr;
    @apply grid h-full rounded-3xl overflow-clip shadow-md dark:shadow-neutral-900 dark:shadow-lg;
  }

  #me-avatar {
    perspective: 1000px;
    @apply w-48 h-48;
  }

  #flip-card-inner {
    transform-style: preserve-3d;
    animation: me-avatar-spin 2s ease-out;
    @apply relative w-full h-full;
  }

  #flip-card-inner>img {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    @apply absolute rounded-full aspect-square object-cover;
  }

  #flip-card-back {
    transform: rotateY(180deg);
  }

  #active-link::before,
  #active-link::after {
    content: '';
    @apply block absolute w-6 h-6 right-0 bg-cover bg-nav-corner dark:bg-nav-corner-dark;
  }

  #active-link::before {
    @apply -translate-y-full top-0;
  }

  #active-link::after {
    @apply translate-y-full bottom-0 -scale-y-100
  }

  @keyframes me-avatar-spin {
    from {
      transform: rotateY(0deg);
    }

    to {
      transform: rotateY(720deg);
    }
  }
}