@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@600&family=Quicksand:wght@400;500;700&display=swap');

@tailwind base;
@tailwind utilities;
@tailwind components;

@layer components {
  html {
    font-family: 'Quicksand', sans-serif;
    @apply scroll-smooth leading-relaxed;
    
  }
  body {
    background-image: radial-gradient(#1111 0%, #1111 15%, #0000 15%, #0000 100%);
    background-size: 2rem 2rem;
    @apply bg-fixed bg-neutral-200 dark:bg-neutral-800 text-neutral-800 dark:text-neutral-200;
  }
  p, h1,h2,h3,h4,h5,h6 {
    @apply my-1
  }
  section { 
    @apply px-8 pt-32 py-16 w-full min-h-screen;
  }
  .container {
    @apply max-w-screen-xl w-full mx-auto;
  }
  header {
    @apply bg-neutral-900 fixed top-0 left-0 right-0 z-50 text-neutral-200 bg-opacity-90 backdrop-blur;
  }
  header nav {
    @apply flex;
  }
  header nav a {
    @apply text-neutral-200 font-semibold flex items-center justify-center h-20 px-4 hover:text-neutral-400 transition-colors;
  }
  #nav-social-header a{ 
    @apply px-2
  }
  .font-title {
    font-family: 'Hind Siliguri', sans-serif;
    @apply font-semibold;
  }
  h1 {
    text-shadow: 0 0 .1rem currentColor;
  @apply text-3xl font-bold text-orange-400;
  }
  h2 {
    @apply text-3xl font-medium text-orange-500;
  }
  p {
    @apply text-lg
  }
  .content-container a {
    @apply underline underline-offset-2
  }
  .content-container {
    @apply flex gap-8 max-md:flex-col
  }
  a.button {
    @apply border-2 font-medium no-underline border-neutral-800 dark:border-neutral-200 rounded-md p-2 flex gap-2 items-center hover:bg-orange-500 hover:text-orange-200 hover:border-orange-200 transition-colors text-center;
  }
  .skill-box {
    @apply bg-neutral-300 dark:bg-neutral-900 text-neutral-900 dark:text-neutral-200 rounded-md p-2 flex gap-2 font-medium items-center transition-colors text-center;
  }
  .tech-tool {
    @apply w-16 max-md:w-8 text-center flex flex-col justify-end items-center gap-1 hover:scale-125 transition-transform duration-200;
  }
  .tech-tool img {
    @apply w-full
  }
  @media (prefers-color-scheme: dark) {
    body {
      background-image: radial-gradient(#eee1 0%, #eee1 15%, #0000 15%, #0000 100%);
    }
  }
  @keyframes floating {
    0% { transform: rotate(0deg) translate(.2rem) rotate(0deg); }
    25% { transform: rotate(0.5turn) translate(.3rem) rotate(-0.5turn); }
    50% { transform: rotate(1turn) translate(.25rem) rotate(-1turn); }
    75% { transform: rotate(1.5turn) translate(.15rem) rotate(-1.5turn); }
    100% { transform: rotate(2turn) translate(.2rem) rotate(-2turn); }
  }
  .floating {
    animation: floating 15s infinite linear;
    @apply transition-all duration-1000;
  }
  @media screen and (prefers-reduced-motion) { 
    .floating {
      animation: none;
    } 
  }
}
